= link_to t('new'), new_admin_admin_path, class: 'btn btn-primary'
%div
  %h2= t('admin_list')
  %table.table
    %thead
      %th= t('first_name')
      %th= t('last_name')
      %th= t('login')
      %th= t('role')
      %th= t('actions')
    %tbody
      - @admins.each do |admin|
        %tr
          %th= admin.first_name
          %th= admin.last_name
          %th= admin.login
          %th= admin.role
          %th
            = link_to t('edit'), edit_admin_admin_path(admin), class: 'btn btn-info'
            = link_to t('delete'),
                      admin_admin_path(admin),
                      method: :delete,
                      class: 'btn btn-danger',
                      data: { confirm: t('are_you_sure') }
