= simple_form_for [:admin, user] do |f|
  .form-row
    .col
      = f.input :first_name, label: t('first_name'), input_html: { class: 'form-control' }
    .col
      = f.input :last_name, label: t('last_name'), input_html: { class: 'form-control' }
  .form-group
    = f.input :position, label: t('position'), input_html: { class: 'form-control' }
  .form-row
    .col
      = f.input :rank, label: t('rank'), input_html: { class: 'form-control' }
    .col
      = f.input :level, label: t('level'), input_html: { class: 'form-control' }
  %br
  .form-group
    = f.submit t('submit'), class: 'btn btn-primary'
